@model IEnumerable<GalacticTitans.Models.AstralBodies.GalaxyViewModel>
@{
    int rowNumber = 1;
}
<div class="gTZRG"><a asp-action="GalaxyCreate" asp-controller="AstralBodies" class="btn btn-primary gTZRG">Make Galaxy</a></div>
@* Admin Control for adding a new astral body of X type into the DB *@

<div class="h1 gTZRG">All solar systems:</div>
<p class="gTZRG isCommonYellow">
    NOTE! The game requires only *one* galaxy and as such doesnt currently have a way to select <br />
    between multiple existing galaxies, so in order to make sure the newest galaxy is viewed in game, <br />
    make sure it is the <i>only</i> existing galaxy. This should be solved in the future. <br />
    For a similiar reason, one galaxy can only have a maximum of 16 solar systems, the table in <br />
    players view just doesnt render any more, and will only take 16 first ones.<br /><br />
    NOTE 2! The Galaxy object is third order of the astralbody implementation. In it that <br />
    AstralBodies form a Solar System, which in turn form a Galaxy. As the game (for time constraint)<br />
    purposes is only intended to have gameplay on planets, Solar systems and galaxy is just a way<br />
    to order and organize the gameplay in a more logical manner. As such, The last order - Galaxies<br />
    is not a full implementation of an order like planet or solar system is. There is no details or <br />
    delete views. deleting happens via a post method with no confirmation whatsoever - this is not really<br />
    the best way to go about it. In the future, a full implementation of galaxy order is recommended<br />
    alongside a new, final order - the universal map. Creation of objects in the universe could also<br />
    be streamlined by an enum for orders themselves, cutting down much of the fluff right now in the <br />
    controller, services and views.<br />
</p>
    <table class="table gHT gTZRG">
        <thead class="isCommonWhite">
            <tr>
                @* Later, once images have been implemented, add image here aswell *@
                <th scope="col">#</th>
                <th scope="col">ID</th>
                <th scope="col">Name of Galaxy</th>
                <th scope="col">Lore of Galaxy</th>
                <th scope="col">Amount of solar systems</th>
                <th scope="col">Created At</th>
                <th scope="col">Modified At</th>
                <th scope="col">Actions:</th>

            </tr>
        </thead>
        <tbody class="isCommonBlue">
            @if (!Model.Any())
            {
                <tr>
                    @* Later, once images have been implemented, add image here aswell *@
                    <td>@rowNumber</td>
                    <td>_</td>
                    <td>No Galaxy found</td>
                    <td>_</td>
                    <td>_</td>
                    <td>_</td>
                    <td>_</td>
                    <td>
                        No actions available.
                    </td>
                </tr>
            }
            else
            {
                @foreach (var system in Model)
                {
                    <tr>
                        @* Later, once images have been implemented, add image here aswell *@
                        <td>@rowNumber</td>
                        <td>@system.ID</td>
                        <td>@system.GalaxyName</td>
                        <td>@system.GalaxyLore</td>
                        <td>@system.SolarSystemsInGalaxy.Count().ToString()</td>
                        <td>@system.CreatedAt</td>
                        <td>@system.UpdatedAt</td>
                        <td>
                            <a asp-action="GalaxyUpdate" asp-controller="astralbodies" asp-route-id="@system.ID" class="btn btn-light">EDIT</a>
                            <form method="post" >
                                <button type="submit" asp-action="GalaxyDeletePermanent" asp-controller="astralbodies" asp-route-id="@system.ID" class="btn btn-light">DEL</button>
                            </form>
                        </td>
                    </tr>
                    rowNumber++;
                }
            }
        </tbody>
    </table>