@model GalacticTitans.Models.AstralBodies.SolarSystemCreateUpdateViewModel

@{
    bool devmode = false;
    var allPlanetsTickboxes = ViewData["allPlanets"] as List<GalacticTitans.Models.AstralBodies.AstralBodyIndexViewModel>;
    var listOfPlanets = Model.Planets;
    // var existingPlanets = ViewData["selectedPlanets"];
    List<Guid> userHasSelected = (List<Guid>)ViewData["userHasSelected"];
    if (Model.ID.HasValue)
    {
        Console.WriteLine(listOfPlanets + "modelid has value");
    }
    else
    {
        Console.WriteLine(listOfPlanets + "no id detected");
    }
}
@if (devmode)
{
    <p class="gTZRG galacticErrorMessageColor">
        no.
    </p>
}
else
{
    <form method="post" enctype="multipart/form-data">
        @if (Model.ID.HasValue)
        {
            <div class="h1 gTZRG">Edit @Model.SolarSystemName:</div>
        }
        else
        {
            <div class="h1 gTZRG">Solar system data:</div>
        }
        
        <div>
            <input asp-for="ID" type="hidden" />
            <input asp-for="CreatedAt" type="hidden" />
            <input asp-for="UpdatedAt" type="hidden" />

            <div class="form-group-row">
                <label asp-for="SolarSystemName" class="col-sm-2 col-form-label"></label>
                <div class="col-sm-10">
                    <input asp-for="SolarSystemName" class="form-control" />
                </div>
            </div>

            <div class="form-group-row">
                <label asp-for="SolarSystemLore" class="col-sm-2 col-form-label"></label>
                <div class="col-sm-10">
                    <input asp-for="SolarSystemLore" class="form-control" />
                </div>
            </div>

            <div class="form-group-row">
                <label asp-for="AstralBodyAtCenter" class="col-sm-2 col-form-label"></label>
                <div class="col-sm-10">
                    <select asp-for="AstralBodyAtCenter" asp-items="ViewBag.allPlanets">
                        <option value="">Select astral body as the center object</option>
                    </select>
                    <span asp-validation-for="AstralBodyAtCenter" class="galacticErrorMessageColor"></span>
                </div>
            </div>

        </div>
        <div> <br /><br /> </div>
        <div class="h1 gTZRG">Select planets for the system:</div>
        @*     <div class="h1 gTZRG">Add Astral Bodies into the solar system: (update)</div> *@
        <table class="table gTZRG isCommonBlue gTB">
            <thead>
                <tr>
                    <td>MiniIcon</td>
                    <td>Astral Body Name</td>
                    <td>Astral Body Type</td>
                    <td>Environmental Boost Type</td>
                    <td>Select?</td>
                </tr>
            </thead>
            <tbody>
                @if (listOfPlanets != null)
                {
                    @*foreach (var selectablePlanet in listOfPlanets)*@
                    for (int i = 0; i < listOfPlanets.Count; i++)
                    {
                        var selectablePlanet = listOfPlanets[i];
                        <tr class="isCommonWhite">
                            <td>@Html.DisplayFor(modelItem => selectablePlanet.Image)</td>
                            <td>@Html.DisplayFor(modelItem => selectablePlanet.AstralBodyName)</td>
                            <td>@Html.DisplayFor(modelItem => selectablePlanet.AstralBodyType)</td>
                            <td>@Html.DisplayFor(modelItem => selectablePlanet.EnvironmentBoost)</td>
                            <td>
                                @*Html.CheckBox("ID")*@
                                @if (Model.ID.HasValue)
                                {
                                    <input 
                                        type="checkbox" 
                                        name="userHasSelected" 
                                        value="@selectablePlanet.ID" 
                                        id="checkbox-@selectablePlanet.ID"
                                        @if (userHasSelected.Contains(selectablePlanet.ID))
                                        {
                                            @:checked
                                        }
                                        />
                                }
                                else
                                {
                                    <input type="checkbox" name="userHasSelected" value="@selectablePlanet.ID" id="checkbox-@selectablePlanet.ID" />
                                }
                               
                            </td>
                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td>_</td>
                        <td>No planets to select from</td>
                        <td>_</td>
                        <td>_</td>
                        <td>tickbox</td>
                    </tr>                    
                }
            </tbody>
        </table>
        @if (Model.ID.HasValue)
        {
            <input asp-action="SolarSystemUpdate"
                   asp-controller="AstralBodies"
                   type="submit"
                   class="btn btn-primary"
                   value="Save Changes" />
        }
        else
        {
            <input asp-action="SolarSystemCreate"
                   asp-controller="AstralBodies"
                   type="submit"
                   class="btn btn-primary"
                   value="Make this system" />
        }

    </form>

}
